@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: "Outfit", sans-serif;
    --color-fundo: #0A0A0F;
    --color-card: #141418;
    --color-card-secundario: #1F1F24;
    --color-destaque: #39FF14;
    --color-borda: #183617;
    --color-titulo-primario: #FFFFFF;
    --color-descricao: #616878;
    --color-titulo-secundario: #959CA9;
}

@layer components {
  .glow-inset {
    box-shadow: inset 0 1px 0 rgba(34, 197, 94, 0.3);
  }
}